{% if page.url == "/" %}
{% else %}
    <footer class="site-footer h-card" style="text-align: center;">
        <span style="font-size: 14px;">© 2022 Crafted & Designed by 
            <a href="">Mehdi Karimi</a>.
        </span>
        <div class="wrapper">
            <div class="social-links">
                <ul class="social-media-list">
                    <li>
                        <a class="github" style="color: #212121;" rel="me" href="https://github.com/x86ptr" target="_blank" title="github">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" style="color: #0077b5;" rel="me" href="https://www.linkedin.com/in/x86ptr" target="_blank" title="linkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" style="color: #1da1f2;" rel="me" href="https://twitter.com/x86ptr" target="_blank" title="twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
{% endif %}