<div class="navbar container max-w-screen-md mx-auto md:px-4 select-none">
    <nav class="border-b border-gray-200">
        <ul class="flex flex-row px-4 md:px-0">
            <li class="flex justify-center pr-3 py-4">
                <a class="text-gray-500 hover:text-gray-700 hover:no-underline text-[0.95rem]" href="/">About</a>
            </li>
            <li class="flex justify-center pr-3 py-4">
                <a class="text-gray-500 hover:text-gray-700 hover:no-underline text-[0.95rem]" href="/publications/">Publications</a>
            </li>
            <li class="flex justify-center pr-3 py-4">
                <a class="text-gray-500 hover:text-gray-700 hover:no-underline text-[0.95rem]" href="/projects/">Projects</a>
            </li>
            <li class="flex justify-center pr-3 py-4">
                <a class="text-gray-500 hover:text-gray-700 hover:no-underline text-[0.95rem]" href="/talks/">Talks</a>
            </li>
            <li class="flex justify-center pr-3 py-4">
                <a class="text-gray-500 hover:text-gray-700 hover:no-underline text-[0.95rem]" href="/blog/">Blog</a>
            </li>
        </ul>
    </nav>
</div>