---
layout: base
---

<div class="home-page">
	<div class="avatar">
		<img src="/assets/images/avatar.jpg" alt="Mehdi's avatar">
	</div>
	<div class="author">
		<h2>{{ site.author.name }}</h2>
		<section>
			<p>{{ site.author.affiliation }}</p>
			<p>{{ site.author.bio }}</p>
		</section>
	</div>
	<div class="social-icons">
		<a href="https://scholar.google.com/citations?user=3F-RGisAAAAJ" target="_blank">
			<i class="ai ai-google-scholar"></i>
		</a>
		<a href="https://scholar.google.com/citations?user=3F-RGisAAAAJ" target="_blank" style="font-size: 21px;">
			<i class="ai ai-researchgate"></i>
		</a>
		<a href="https://www.github.com/x86ptr" target="_blank">
			<i class="fab fa-github"></i>
		</a>
		<a href="https://www.twitter.com/x86ptr" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
		<a href="https://www.linkedin.com/in/x86ptr/" target="_blank">
			<i class="fab fa-linkedin"></i>
		</a>
	</div>
</div>